@import "../../../styles/templates";

.preview {
  @extend %mainFont;
  @extend %uiGrid;

  font-size: 20px;
  padding-bottom: 2.6em;
  position: relative;
  z-index: 0;

  &.localization {
    &.ru {
      @media (max-width: 1377px) {
        font-size: 19px;
      }

      @media (max-width: 1220px) {
        font-size: 16px;
      }

      @media (max-width: 952px) {
        font-size: 15px;

        .placeholder.textContent {
          grid-template-columns: 4fr 1fr;
        }
      }
    }

    &.kz {
      @media (max-width: 1377px) {
        font-size: 19px;
      }

      @media (max-width: 1220px) {
        font-size: 16px;
      }

      @media (max-width: 952px) {
        font-size: 15px;

        .placeholder.textContent {
          grid-template-columns: 4fr 1fr;
        }
      }
    }
  }

  .placeholder {
    @extend %flexCenter;
    grid-column-start: 2;
    grid-column-end: 5;

    h2 {
      @extend %light;
      color: white;
      font-size: 1.6em;
      padding-top: 6.21875em;
      padding-bottom: 2.28125em;
      text-shadow: 0 4px 4px #000000;
    }

    &.switchers {
      @extend %flexCenter;
      justify-content: space-between;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      // margin-bottom: 0.6em;
      grid-column-start: 1;
      grid-column-end: 6;
      padding: 0 3.1em;

      svg {
        cursor: pointer;

        &.blocked {
          pointer-events: none;
          opacity: 0;
        }

        &:first-of-type {
          transform: rotate(.5turn);
        }
      }
    }

    &.textContent {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      font-size: 1em;
      padding: 1.75em;
      width: 100%;
      background: rgba(217, 217, 217, 0.85);

      section {
        font-size: 1em;

        .title {
          text-transform: uppercase;
          width: 100%;
        }
      }

      section.about {
        border-right: 1px solid black;
        padding-right: 1em;

        .desc {
          margin-bottom: 2.45em;
        }

        .button {
          display: inline;
        }
      }

      section.services {
        padding-left: 1em;

        .title {
          text-align: end;
        }

        .service {
          display: flex;
          column-gap: 7em;
          margin-bottom: 1.45em;

          &:last-of-type {
            margin-bottom: 0;
          }

          .item {
            @extend %flexCenter;
            flex-direction: column;
            text-align: center;
          }
        }
      }
    }
  }

  .background {
    @extend %flexCenter;
    @extend %notSelectable;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #041251;
    z-index: -3;

    img {
      pointer-events: none;
      max-width: 100%;
      max-height: 100%;
    }
  }
}