@import "../../../styles/templates";

.totalBonuses {
  width: 100%;
  grid-column: span 3;
  padding: 0 1.5em;

  h4 {
    @extend %mainFont;
    @extend %light;

    // Font size => 20px
    font-size: 1em;
  }
}

.bonusList {
  grid-column: span 3;
}