@import "src/assets/styles/templates";

section.aboutUs {
  @extend %uiGrid;
  @extend %mainFont;

  background-size: cover;
  font-size: 20px;
  padding: 3.3em 0;

  .block {
    @extend %uiGrid;
    @extend %light;

    min-height: 100px;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 5;
    background: rgba(217, 217, 217, 0.85);
    grid-column-gap: 0;
    grid-row-gap: 0;

    .menu, article {
      padding: .5em;
      background: rgba(217, 217, 217, 0.3);
      margin: calc(var(--gap) / 2);
      font-size: 1em;
    }

    .menu {
      color: black;

      h2 {
        @extend %light;
        font-size: 1em;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 1em;
      }

      .item {
        @extend %light;
        @extend %notSelectable;

        font-size: 1em;
        text-align: start;
        cursor: pointer;
        margin-bottom: 1em;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    article {
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }

  @media (max-width: 760px) {
    padding: 1.5em 20px 1.5em 20px;
    font-size: 18px;

    .block {
      grid-column: span 5;
    }
  }

  @media (max-width: 582px) {
    font-size: 16px;
  }

  @media (max-width: 483px) {
    font-size: 14px;
  }
}