@import "src/assets/styles/templates";

.overlay {
  --gap: 20px;
  --background: rgba(96, 94, 94, 0.8);

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background: var(--background);
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: 71px 1fr 71px;
  grid-template-rows: 80px 1fr 80px;

  .imageTitle,
  .viewBlock,
  .slider,
  .arrowBlock {
    // outline: 2px solid red;
  }

  .imageTitle {
    @extend %flexCenter;
    @extend %mainFont;

    font-size: 51px;
    color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-gap: inherit;
    display: grid;
    grid-template-columns: inherit;
    text-align: center;

    .element {
      @extend %flexCenter;
      width: 100%;
      height: 100%;
    }
  }

  .viewBlock {
    @extend %flexCenter;

    img {
      @extend %notSelectable;
      max-height: 100%;
      max-width: 100%;
    }
  }

  .slider {
    display: flex;
    align-items: center;
    padding: calc(var(--gap) / 2);
    column-gap: 16px;
    position: relative;
    overflow-x: hidden;
  }

  .arrowBlock {
    @extend %flexCenter;
    @extend %notSelectable;

    cursor: pointer;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 100%;
    transition: background .15s ease;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }

    svg {
      width: 35%;
    }

    &:first-of-type {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    &:last-of-type {
      grid-column-start: 3;
      grid-column-end: 4;

      svg {
        transform: rotate(.5turn);
      }
    }
  }

  .hoverable {
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.25);
    }
  }
}