@import "src/assets/styles/templates";

.preview {
  @extend %mainFont;
  @extend %uiGrid;

  font-size: 20px;
  padding-top: 11.7em;
  padding-bottom: 2.6em;
  position: relative;
  z-index: 0;

  .placeholder {
    @extend %flexCenter;
    grid-column-start: 2;
    grid-column-end: 5;

    .button {
      @extend %light;
      @extend %notSelectable;

      cursor: pointer;
      padding: .6em;
      font-size: 1em;
      color: black;
      background: #FFE600;
      border-radius: 1.25em;
      transition: .075s ease;

      &:active {
        filter: brightness(.8);
      }
    }

    &.switchers {
      @extend %flexCenter;
      margin-bottom: 1.95em;

      svg {
        cursor: pointer;

        &:last-of-type {
          margin-left: 1.45em;
          transform: rotate(.5turn);
        }
      }
    }

    &.textContent {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      font-size: 1em;
      padding: 1.75em;
      width: 100%;
      background: rgba(217, 217, 217, 0.85);

      section {
        font-size: 1em;

        .title {
          text-transform: uppercase;
          width: 100%;
        }
      }

      section.about {
        border-right: 1px solid black;
        padding-right: 1em;
      }

      section.services {
        padding-left: 1em;

        .title {
          text-align: end;
        }

        .service {
          display: flex;
          column-gap: 7em;
        }
      }
    }
  }

  .background {
    @extend %flexCenter;
    @extend %notSelectable;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #041251;
    z-index: -3;

    img {
      pointer-events: none;
      max-width: 100%;
      max-height: 100%;
    }
  }
}